ul{
    list-style:none;
    background: none;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    border-color: #fff;
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
}
ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 65%;
    background:black;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    background: #112C66;
}
ul li:hover ul.dropdown{
    display: block;
}